<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
		default-autowire="byType">
		<!--自动装配需要加入 default-autowire
			自动装配模型:4种 null byType byName constructor构造器
			-->
<!--		<bean id="testService" class="com.slk.service.TestService">-->
<!--			&lt;!&ndash;手动注入 			注入依赖&ndash;&gt;-->
<!--&lt;!&ndash;			<property name="iService">&ndash;&gt;-->
<!--&lt;!&ndash;				<ref bean="iService"></ref>&ndash;&gt;-->
<!--&lt;!&ndash;			</property>&ndash;&gt;-->
<!--		</bean>-->
<!--		<bean id="iService" class="com.slk.service.SlkService">-->
<!--		</bean>-->

</beans>